.logo{
    width: 150px;
}

figure{
    margin-block: 0;
}

.chulasTitle{
margin-top: 160px;
width:900px ;
}

.imgHome{
  width: 100%;           
  height: 800px;
  background-size: cover; 
  background-position: center;
  box-shadow: -4px 6px 9px 1px rgba(0,0,0,0.82);

}

.iconsA{
    width: 50px;
    height: 50px;
    margin-top: 300px;
}

.iconsA:hover{
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.25) ;
}

.icons{
    display: flex;
    justify-content: space-around;

}

.imgEvents{
    max-width: 400px;
    border-radius: 10px;
    box-shadow: -4px 6px 9px 1px rgba(0,0,0,0.82);
}

.imgText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#imgSlider {
  transition: background-image 1s ease-in-out;
}

