.mainMap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.calle{
    font-size: 30px;
    color: white;
}

.inframe{
    width: 80%;
    height: 600px;
}