

.reserva{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    width: 300px;
    height: 450px;
    margin-top: 100px;
   
}

.inputsButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin-block: 0;
}

p{
    margin-block: 0;
    font-size: 20px;
}

.mainReserva{
    display: flex;
    justify-content: center;
    align-items: center;
}